*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1128px;
    margin: 0px auto;
}

.topnav{
    background-color: #007878;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    
}
.topnav ul{
    list-style: none;
    display: flex;
    color: white;
    gap: 36px;
}
.topnav ul li{
    

}
@font-face {
    font-family: poppins
     ;
    src: url(./fonts/Poppins-Medium.ttf);
}

#li2{
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 14px;
    padding-right: 14px;
    align-items: center;
}


.leftside{
    display: flex;
    gap: 12px;
    color: white;
}   